.black-background {
  background-color: $black;
}

.dark-grey-background {
  background-color: $dark-gray;
}

.orange-background {
  background-color: $primary-color;
}

.light-grey-background {
  background-color: $light-gray;
}