.black-background {
  background-color: $black;
}

.dark-grey-background {
  background-color: $dark-gray;
}

.orange-background {
  background-color: $primary-color;
  color: $black;
  a {
    color: $black;
    &:hover {
      color: $black;
    }
    &:focus {
      outline: none;
    }
  }
}

.light-grey-background {
  background-color: $light-gray;
  a {
    color: $black;
    &:hover {
      color: $black;
    }
    &:focus {
      outline: none;
    }
  }

}