.category-archive {
  .category-image {
    img {
      height: 100%;
      width: auto;
    }
  }
  .category-detail {
    font-family: "Rambla", sans-serif;
    font-size: 20px;
    line-height: 1.4;
    h1, h2 {
      font-family: "Heebo", sans-serif;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 60px;
      line-height: 1;
    }
  }

}