.detailed-categories {
  .cat-detailed {
    .top {
      background-repeat: no-repeat;
      background-size: cover;
      height: 228px;
      position: relative;
      margin-bottom: 3rem;
      span {
        position: absolute;
        font-family: "Heebo", sans-serif;
        font-weight: 800;
        color: #1d1d1b;
        text-transform: uppercase;
        display: block;
        padding-left: 18px;
        padding-right: 36px;
        font-size: 30px;
        background: $white;
        left: 9px;
        bottom: -18px;
        min-width: 210px;
        &:after {
          content: "";
          position: absolute;
          display: block;
          height: 45px;
          width: 20px;
          background-image: url("../images/arrow-orange-right.png");
          background-repeat: no-repeat;
          background-position: center center;
          top: 0;
          right: 5px;
        }
      }
    }
    .bottom {
      .cat-description {
        min-height: 250px;
        padding-left: 9px;
        padding-right: 9px;
      }
      .cat-description, .cat-description p {
        font-family: "Rambla", sans-serif;
        font-size: 20px;
        line-height: 28px;
        color: $dark-gray;
        margin: 0;
      }
      a.button {
        background-color: $white;
        color: $primary-color;
        border: 2px solid $primary-color;
        &:hover {
          background-color: $primary-color;
          color: $white;
        }
      }
    }
  }
}