@for $i from 1 through 200 {
  .fontsize-#{$i} {
    font-size: #{$i}px;
    &.addtolinks {
      a {
        font-size: #{$i}px;
      }
    }
  }
}

.fontsize-50 {
  font-size: 24px;
  &.addtolinks {
    a {
      font-size: 24px;
      @include breakpoint(large) {
        font-size: 35px;
      }
      @include breakpoint(xlarge) {
        font-size: 50px;
      }
    }
  }
  @include breakpoint(large) {
    font-size: 35px;
  }
  @include breakpoint(xlarge) {
    font-size: 50px;
  }
}

@for $i from 1 through 200 {
  .fontsize-small-#{$i} {
    @include breakpoint(small) {
      font-size: #{$i}px;
      &.addtolinks {
        a {
          font-size: #{$i}px;
        }
      }
    }
  }
}

@for $i from 1 through 200 {
  .fontsize-medium-#{$i} {
    @include breakpoint(medium) {
      font-size: #{$i}px;
      &.addtolinks {
        a {
          font-size: #{$i}px;
        }
      }
    }
  }
}

@for $i from 1 through 200 {
  .fontsize-large-#{$i} {
    @include breakpoint(large) {
      font-size: #{$i}px;
      &.addtolinks {
        a {
          font-size: #{$i}px;
        }
      }
    }
  }
}

@for $i from 1 through 200 {
  .fontsize-xlarge-#{$i} {
    @include breakpoint(xlarge) {
      font-size: #{$i}px;
      &.addtolinks {
        a {
          font-size: #{$i}px;
        }
      }
    }
  }
}

@for $i from 1 through 200 {
  .fontsize-xxlarge-#{$i} {
    @include breakpoint(xxlarge) {
      font-size: #{$i}px;
      &.addtolinks {
        a {
          font-size: #{$i}px;
        }
      }
    }
  }
}

p, li {
  font-size: 16px;
  @include breakpoint(large) {
    font-size: 20px;
  }
}

h1, h2 {
  color: $dark-gray;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1;
  display: block;
  font-weight: 600;
  @include breakpoint(medium) {
    font-size: 30px;
  }
  @include breakpoint(large) {
    font-size: 55px;
  }
}