.image-list {
  .image {
    outline: 1px solid $light-gray;
    height: 220px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
  }
  .description {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    line-height: 1.2;
    width: 90%;
  }
  h5 {

  }
}