.top-bar, .top-bar ul {
  background-color: inherit;
}

.small-pound {
  .woocommerce-Price-currencySymbol {
    font-size: 35px;
  }
}

.main-price {
  small.woocommerce-price-suffix {
    font-size: 20px;
    font-family: "Heebo", sans-serif;
    font-weight: 900;
  }
}