@for $i from 0 through 100 {
  .toppad-#{$i} {
    padding-top: #{$i}px;
  }
  .bottompad-#{$i} {
    padding-bottom: #{$i}px;
  }
  .leftpad-#{$i} {
    padding-left: #{$i}px;
  }
  .rightpad-#{$i} {
    padding-right: #{$i}px;
  }

  .toprempad-#{$i} {
    padding-top: #{$i}rem;
  }
  .bottomrempad-#{$i} {
    padding-bottom: #{$i}rem;
  }
  .leftrempad-#{$i} {
    padding-left: #{$i}rem;
    &.small-12 {
      padding-left: 0;
      @include breakpoint(medium) {
        padding-left: #{$i}rem;
      }
    }
  }
  .rightrempad-#{$i} {
    padding-right: #{$i}rem;
  }
}

@for $i from 0 through 100 {
  .topmargin-#{$i} {
    margin-top: #{$i}px;
  }
  .bottommargin-#{$i} {
    margin-bottom: #{$i}px;
  }
  .leftmargin-#{$i} {
    margin-left: #{$i}px;
  }
  .rightmargin-#{$i} {
    margin-right: #{$i}px;
  }

  .topremmargin-#{$i} {
    margin-top: #{$i}rem;
  }
  .bottomremmargin-#{$i} {
    margin-bottom: #{$i}rem;
  }
  .leftremmargin-#{$i} {
    margin-left: #{$i}rem;
  }
  .rightremmargin-#{$i} {
    margin-right: #{$i}rem;
  }
}
