.cart-icon {

  position: relative;
  padding-left: 35px;
  &:before {
    content: " ";
    position: absolute;
    background-image: url("../images/Trolley.png");
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
  }
}