.searchbox {
  border-radius: 50px 0 0 50px ;
  height: 45px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  width: 160px;
  @include breakpoint(medium) {
    width: 170px;
  }
  @include breakpoint(xlarge) {
    min-width: 200px;
  }
  @include breakpoint(xlarge) {
    min-width: 230px;
  }
}

.searchbtn {
  display: inline-block;
  margin-bottom: 1px;
  cursor: pointer;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.search-results {
  .byline {
    display: none;
  }
}